 <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h1><b>Edit Article</b></h1>
                </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h2><strong>Editing Article</strong></h2>
                            
                        </div>
                <div class="ibox-content">

<% if current_user.github_profile.id == @article.github_profile_id %>
<%= render 'form' %>
<% else %> 
<div class="middle-box text-center animated fadeInDown">
        <h1>401</h1>
        <h3 class="font-bold">Unauthorized Access</h3>

        <div class="error-desc">
            Unauthorized: Access is denied due to invalid credentials" error message" when you try to access a Web Application that is part of the application pool.<br/>
            <strong>Actually this is not your article.</strong>
        </div>
    </div>

<% end %>


<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
</div>
</div>
</div>
</div>
