<center>	
                <h1 class="logo-name"><i class="fa fa-home"></i></h1>                
                <h1>CodeVilla</h3>
				<p>The Place Where Code Lives</p>	                
            
  
  <%- resource_class.omniauth_providers.each do |provider| %>
  	<h1 class="logo-name"><i class="fa fa-github" ></i></h1>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), {class: "btn btn-primary btn-lg"} %><br />
  <% end %>
  
  </center>
