<nav style="margin-bottom: 0" role="navigation" class="navbar navbar-static-top  ">
        <div class="navbar-header">
            <a href="#" class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
            <form action="search_results.html" class="navbar-form-custom" role="search">
                <div class="form-group">
                    <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search for something...">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to CodeVilla....</span>
                </li>
                


                <li>
                    
                        <%= link_to destroy_user_session_path, method: :delete  do %><i class="fa fa-sign-out"> Log out</i>
                        <% end %>
                </li>
            </ul>
            
        </nav>